body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    text-align: center;
}

.title {
    padding: 20px;
    background-color: rgb(137, 204, 204);
    font-size: 40px;
}

.inp {
    padding: 0;
}

#input {
    border-radius: 0;
    border: none;
    width: 70%;
    height: 20px;
    margin: 0;
    padding: 5px;
}
#btn {
    border-radius: 0;
    border: none;
    height: 30px;
    width: 20%;
    cursor: pointer;
    background-color: lightgray;
}
#btn:hover {
    background-color: rgb(146, 146, 146);
}




.list {
    width: 100%;
    list-style: none;
    padding: 0; 
}

.item {
    display: flex;
    justify-content: space-between; 

    padding: 10px;
    border-bottom: 1px solid #ccc; 
}

.delBtn {
    border: none;
    cursor: pointer;
}